.header {
  width: 100%;
  height: 12vh;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 24%, rgba(94,95,98,1) 75%, rgba(203,47,47,1) 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  &_left {
    width: 25%;
    padding: 5px;
    display:flex;
    margin-left: 20px;
    justify-content: flex-start;
    align-items: center;
    > img {
      width: 140px;
      height: auto;
      border-radius: 5px;
      display:flex;
    justify-content: flex-start;
    align-items: center;
    }
  }
  &_right {
    width: 75%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    >button {
      margin-right: 20px;
      color: aliceblue;
    }
  }
 }
