.content {
    position: relative;
    height: 100vh;
    width: 100vw;
    background: #eee;
}

.sidebar {
    width: 350px;
    background-color: white;
}

.icon {
    &--black {
      margin:5px;
      font-size: 25px;
      color: black;
    }
}

.main {
    color: black;
    margin: 10px;
}

.navlink {
    &__text {
        color: black;
        margin: 0;
        padding: 0;
        transition: 250ms;
    }
    &:hover {
        background-color: rgb(229, 173, 173);
        transition: 250ms;
        cursor: pointer;
    }
}

::ng-deep{
    .menusub{
    top: -10px;
    left: 80%;
    position: absolute;
    background-color: white;
    &__link{
      color: black;
      margin: 0;
      padding: 0;
      transition: 250ms;
      &:hover{
        cursor: pointer;
        text-decoration: underline;
      }
      &-actived{
        color: red;
      }
    }
    }
}
