.content {
    position: relative;
    height: 100vh;
    width: 100vw;
    background: #eee;
}

.sidebar {
    width: 350px;
    background-color: white;
}

.icon {
    &--black {
        color: black;
    }
}

.main {
    color: black;
    margin: 10px;
}

.navlink {
    &__text {
        color: black;
        margin: 0;
        padding: 0;
        transition: 250ms;
    }
    &:hover {
        background-color: rgb(246, 245, 245);
        transition: 250ms;
        cursor: pointer;
    }
}

.isActive {
    color: red;
}


::ng-deep{
    .menusub{
    top: -10px;
    left: 80%;
    position: absolute;
    background-color: white;


    }
}
