.content {
    position: relative;
    height: 100vh;
    width: 100vw;
    background: #eee;
}

.sidebar {
    width: 350px;
    background-color: white;
}

.icon {
    &--black {
        color: black;
    }
}

.main {
  color: black;
  margin: 10px;
}
