.errorMessage {
  color: var(--alert);
  font-size: 12px;
  font-family: var(--font-family);
}

.input1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.input1 {
  display: flex;
  width: 33%;
  justify-content: center;
}
