/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.button_group {
  width: 100% !important;
  display: flex !important;
  flex-direction: row !important;
  justify-content: flex-end !important;

}
.button_layout {
margin:10px !important;
}

//COLOR
$primary-color: #C2185B;
