.clients {
  margin: 20px;
  width: 95%;
  min-height: 20vh;
  border-radius: 8px;
  -webkit-box-shadow: 3px 10px 31px 21px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 3px 10px 31px 21px rgba(0, 0, 0, 0.19);
  box-shadow: 3px 10px 31px 21px rgba(0, 0, 0, 0.19);
  padding: 10px;

  &-title {
    padding-top: 20px;
    padding-left: 20px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    > h2 {
      font-weight: 700;
    }
  }
}

mat-icon {
  width: 25px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  padding: 2px;
  &:hover {
    cursor: pointer;
    background-color: rgba(240, 248, 255, 0.507);
  }
}

.icon {
  &--black {
    margin-right: 5px;
    font-size: 15px;
    color: black;
  }

  &--red {
    margin-left: 5px;
    font-size: 15px;
    color: red;
  }
}

.mat-column-person_name {
  width: 20%;
  border-right: 1px solid white;
}

.mat-column-email {
  width: 20%;
}

.mat-column-comercial_name {
  width: 20%;
}

.mat-column-phone_number {
  width: 20%;
}

.mat-column-icon {
  width: 20%;
}
td {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
th {
  border-bottom: 1px solid white !important;
  border-right: 1px solid white !important;

  &:last-child {
    border-right: 0px !important;
  }
}
